<link rel="stylesheet" href="https://jla.com/sitefiles/dist/main-c94977dd3eac24de953a.css">


<!-- 
<header class="header has-metric">
  <div class="header__holder js-header-block">
          <div class="header__top-block">
      <div class="header__container">
          <div class="header__trust-metric-holder">
                  <p class="header__trust-metric-item"><span>25,336</span> Happy Customers</p>
                  <p class="header__trust-metric-item"><span>24/7 365 days a year</span>  Customer Support</p>
                  <p class="header__trust-metric-item"><span>400+</span> Engineers Nationwide</p>
          </div>
      </div>
  </div>

      <div class="header__body">
  <div class="header__container">
      <div class="header__inner">
          <div class="header__left">
              <div class="header__logo-holder">
                  <a href="/">
                      <svg class="icon-svg icon-logo" viewBox="0 0 287.8 112.3">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#icon-logo"></use>
                      </svg>
                  </a>
              </div>
                  <div class="header__desktop-nav">
                          <a href="/laundry-equipment" target="_self">Laundry</a>
                          <a href="/catering-equipment" target="_self">Catering</a>
                          <a href="/otex" target="_self">OTEX</a>
                          <a href="/hvac" target="_self">HVAC</a>
                          <a href="/fire-safety" target="_self">Fire Safety</a>
                          <a href="/infection-control" target="_self">Infection Control</a>
                          <a href="/contact" target="_self">Contact</a>
                  </div>
          </div>
          <div class="header__content-holder">
              <div class="header__contact">
                  <a class="InfinityNumber" href="tel:08082397813" data-ict-discovery-number="01422822282" data-ict-silent-replacements="true">
                      <svg class="svg-inline--fa fa-phone fa-w-16 icon-svg icon-phone" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg>
                  </a>
                  <p class="header__contact-inner">
                      Call Free:
                      <span id="" class="header-call-value InfinityNumber clickable contactNo" style="visibility: visible;"><a href="tel:08082397813">0808 239 7813</a></span>
                  </p>
              </div>

              
<button class="header__consult-btn btn btn--reset btn--primary js-modal" data-modal="9bf7ced7-10a5-40ad-8bc4-89ba76e62270">
  Send an enquiry
</button>


          <button type="button" class="nav-btn nav-btn--icon js-nav-search-btn"><svg class="svg-inline--fa fa-search fa-w-16 icon-svg icon-search" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg></button>

              <button type="button" class="nav-btn js-nav-btn">
                  <div class="nav-btn__inner"></div>
              </button>
          </div>
      </div>

      <div class="searchbox js-searchbox">
<form action="/search/menuformsubmit" method="post" can_known="0" class="">        <div class="searchbox__container">
          <input class="search__input" data-val="true" data-val-required="The SearchTerm field is required." id="SearchTerm" name="SearchTerm" placeholder="I am looking for..." type="search" value="">
          <label class="searchbox__btn-holder">
              <input type="submit" class="search__submit-btn">
              <svg class="svg-inline--fa fa-search fa-w-16 icon-svg icon-search" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
          </label>
      </div>
      <div class="searchbox__shade js-searchbox-shade"></div>
</form></div>
  </div>
</div>

  </div>
  <nav class="nav js-nav">
  <div class="nav__inner">
      <button class="nav__close-btn js-nav-close" type="button">
          <svg class="svg-inline--fa fa-times fa-w-11 icon-svg icon-close" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
      </button>

          <div class="nav__main-area js-nav-main-area">
              <ul class="nav__listing">
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          Laundry
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/laundry-equipment" target="_self" class="nav__last-link">Browse all laundry equipment</a>
</li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Wash
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/laundry-equipment/washers" target="_self" class="nav__last-link">Washing Machines</a>
</li>
<li>
  <a href="/otex" target="_self" class="nav__last-link">OTEX</a>
</li>
<li>
  <a href="/laundry-equipment/industrial-washing-machines" target="_self" class="nav__last-link">Industrial Washing Machines</a>
</li>
<li>
  <a href="/laundry-equipment/stacked-washers-dryers" target="_self" class="nav__last-link">Stacked Washers &amp; Dryers</a>
</li>
<li>
  <a href="/laundry-equipment/coin-operated-washers-and-dryers" target="_self" class="nav__last-link">Coin-Op Washers &amp; Dryers</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Dry
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/laundry-equipment/tumble-dryers" target="_self" class="nav__last-link">Tumble Dryers</a>
</li>
<li>
  <a href="/laundry-equipment/safe-technology" target="_self" class="nav__last-link">S.A.F.E. Dryers</a>
</li>
<li>
  <a href="/commercial-laundry-equipment/dryers/stack-systems-dryer-dryers" target="_self" class="nav__last-link">Stacked Dryers</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Finish
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/laundry-equipment/irons-finishing-equipment" target="_self" class="nav__last-link">Rotary Irons &amp; Finishing Equipment</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Total Care for Laundry
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/total-care/total-care-for-laundry" target="_self" class="nav__last-link">Total Care for Laundry</a>
</li>
<li>
  <a href="/total-care/total-care-faqs" target="_self" class="nav__last-link">Total Care FAQs</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Laundry Resources
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/knowledge/laundry" target="_self" class="nav__last-link">All Laundry Resources</a>
</li>
<li>
  <a href="/blog/hygiene/sluice-room-requirements" target="_self" class="nav__last-link">Laundry &amp; Sluice Room Regulations</a>
</li>
<li>
  <a href="/blog/laundry/laundry-procedures-in-care-homes" target="_self" class="nav__last-link">Laundry Best Practice in Care Homes</a>
</li>
<li>
  <a href="/blog/laundry/starting-a-laundry-business" target="_self" class="nav__last-link">Starting a Launderette Business Guide</a>
</li>
      </ul>
  </li>
<li>
  <a href="/commercial-detergents/laundry-detergents" target="_self" class="nav__last-link">Laundry Detergents</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          Catering
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/catering-equipment" target="_self" class="nav__last-link">Browse all catering equipment</a>
</li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Cook
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/catering-equipment/commercial-cooking" target="_self" class="nav__last-link">Commercial Cooking</a>
</li>
<li>
  <a href="/catering-equipment/combi-ovens" target="_self" class="nav__last-link">Combi Ovens</a>
</li>
<li>
  <a href="/catering-equipment/commercial-range-ovens" target="_self" class="nav__last-link">Range Ovens</a>
</li>
<li>
  <a href="/catering-equipment/commercial-bain-marie" target="_self" class="nav__last-link">Bain Marie</a>
</li>
<li>
  <a href="/catering-equipment/commercial-fryers" target="_self" class="nav__last-link">Fryers</a>
</li>
<li>
  <a href="/catering-equipment/commercial-griddles-and-grills" target="_self" class="nav__last-link">Griddles and Grills</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Cool
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/catering-equipment/refrigeration-and-freezers" target="_self" class="nav__last-link">Refrigeration and Freezers</a>
</li>
<li>
  <a href="/catering-equipment/commercial-refrigeration" target="_self" class="nav__last-link">Fridges</a>
</li>
<li>
  <a href="/catering-equipment/commercial-freezers" target="_self" class="nav__last-link">Freezers</a>
</li>
<li>
  <a href="/catering-equipment/commercial-ice-machines" target="_self" class="nav__last-link">Ice Machines</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Clean
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/catering-equipment/dishwashers-and-glasswashers" target="_self" class="nav__last-link">Dishwashers and Glasswashers</a>
</li>
<li>
  <a href="/catering-equipment/commercial-dishwashers" target="_self" class="nav__last-link">Dishwashers</a>
</li>
<li>
  <a href="/catering-equipment/commercial-glasswashers" target="_self" class="nav__last-link">Glasswashers</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Total Care for Catering
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/total-care/total-care-for-catering" target="_self" class="nav__last-link">Total Care for Catering</a>
</li>
<li>
  <a href="/total-care/total-care-faqs" target="_self" class="nav__last-link">Total Care FAQs</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Catering Resources
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/knowledge/catering" target="_self" class="nav__last-link">All Catering Resources</a>
</li>
<li>
  <a href="/knowledge/catering" target="_self" class="nav__last-link">Combis for Care</a>
</li>
      </ul>
  </li>
<li>
  <a href="/commercial-detergents/catering-detergents" target="_self" class="nav__last-link">Catering Detergents</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          Heating &amp; AC
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Heating Equipment
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/hvac/heating/boilers/wall-mounted" target="_self" class="nav__last-link">Wall mounted boilers</a>
</li>
<li>
  <a href="/hvac/heating/boilers/floor-standing" target="_self" class="nav__last-link">Floor standing boilers</a>
</li>
<li>
  <a href="/hvac/heating/hot-water-cylinders" target="_self" class="nav__last-link">Hot water cylinders</a>
</li>
<li>
  <a href="/hvac/heating/water-storage-heaters" target="_self" class="nav__last-link">Storage water heaters</a>
</li>
<li>
  <a href="/total-care/total-care-for-heating" target="_self" class="nav__last-link">Total Care for Heating</a>
</li>
<li>
  <a href="/hvac/heating/commercial-boiler-service-contracts" target="_self" class="nav__last-link">Boiler Service Contracts</a>
</li>
      </ul>
  </li>
<li>
  <a href="/hvac/air-conditioning" target="_self" class="nav__last-link">Air conditioning</a>
</li>
<li>
  <a href="/hvac/smart-heating-ac" target="_self" class="nav__last-link">Remote monitoring</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          Infection Control
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/infection-control" target="_self" class="nav__last-link">Infection Control Hub</a>
</li>
<li>
  <a href="https://jla.com/medical/sanitisers" target="_self" class="nav__last-link">Ozone Room Sanitiser</a>
</li>
<li>
  <a href="/blog/laundry/ozone-washer-system" target="_self" class="nav__last-link">Ozone Laundry Disinfection</a>
</li>
<li>
  <a href="https://jla.com/medical/macerators" target="_self" class="nav__last-link">Medical Macerators</a>
</li>
<li>
  <a href="/medical/bedpan-washers" target="_self" class="nav__last-link">Bedpan Washers</a>
</li>
<li>
  <a href="https://jla.com/commercial-laundry-and-catering-detergents/catering-chemicals/hand-soap/ultra-pearlised-hand-soap" target="_self" class="nav__last-link">Big-pack Hand Soap</a>
</li>
<li>
  <a href="https://jla.com/commercial-catering-equipment/dishwashers-and-glasswashers/thermal-dishwashers" target="_self" class="nav__last-link">Thermal Disinfection Dishwashers</a>
</li>
<li>
  <a href="/blog/hygiene/infection-control-tips-for-businesses" target="_self" class="nav__last-link">7 Infection Control Tips</a>
</li>
<li>
  <a href="/blog/hygiene/laundry-infection-control-advice" target="_self" class="nav__last-link">Laundry Infection Control Advice</a>
</li>
<li>
  <a href="/blog/hygiene/infection-control-in-care-homes" target="_self" class="nav__last-link">Infection Control In Care Homes</a>
</li>
<li>
  <a href="/blog/laundry/laundry-procedures-in-care-homes" target="_self" class="nav__last-link">FREE Laundry Best Practice Infographic</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          OTEX Ozone Innovations
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/otex" target="_self" class="nav__last-link">Ozone Laundry Disinfection</a>
</li>
<li>
  <a href="/medical/sanitisers" target="_self" class="nav__last-link">Ozone Room Disinfectors</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          Fire Safety
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/fire-safety" target="_self" class="nav__last-link">Fire Safety Services</a>
</li>
<li>
  <a href="https://jla.com/fire-safety/fire-risk-assessment" target="_self" class="nav__last-link">Book A Fire Risk Assessment</a>
</li>
<li>
  <a href="/fire-safety/aov-system-automatic-opening-vents" target="_self" class="nav__last-link">AOV Systems</a>
</li>
<li>
  <a href="https://jla.com/fire-safety/fire-safety-total-care" target="_self" class="nav__last-link">Fire Safety Total Care</a>
</li>
<li>
  <a href="/fire-safety/fire-safety-cover" target="_self" class="nav__last-link">Fire Safety Cover</a>
</li>
      </ul>
  </li>
<li>
  <a href="/commercial-led-lighting" target="_self" class="nav__last-link">LED Lights</a>
</li>
<li>
  <a href="/parts" target="_self" class="nav__last-link">Parts</a>
</li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          Servicing &amp; Repair
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Total Care Plans
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/total-care" target="_self" class="nav__last-link">Total Care Overview</a>
</li>
<li>
  <a href="/total-care/total-care-for-laundry" target="_self" class="nav__last-link">Total Care for Laundry</a>
</li>
<li>
  <a href="/total-care/total-care-for-catering" target="_self" class="nav__last-link"> Total Care for Catering</a>
</li>
<li>
  <a href="/total-care/total-care-for-heating" target="_self" class="nav__last-link">Total Care for Heating</a>
</li>
<li>
  <a href="https://jla.com/fire-safety/fire-safety-total-care" target="_self" class="nav__last-link">Total Care for Fire Safety</a>
</li>
<li>
  <a href="/total-care/total-care-faqs" target="_self" class="nav__last-link">Total Care FAQs</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Servicing Options
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/services/breakdown-cover/laundry-service-contracts" target="_self" class="nav__last-link">Laundry Service Contracts</a>
</li>
<li>
  <a href="/services/breakdown-cover/catering-service-contracts" target="_self" class="nav__last-link">Kitchen Service Contracts</a>
</li>
<li>
  <a href="/heating-equipment/commercial-boiler-service-contracts" target="_self" class="nav__last-link">Boiler Service Contracts</a>
</li>
<li>
  <a href="/fire-safety/fire-safety-cover" target="_self" class="nav__last-link">Fire Service Contracts</a>
</li>
<li>
  <a href="/services/emergency-engineer-response" target="_self" class="nav__last-link">Emergency Engineer Response</a>
</li>
<li>
  <a href="/services" target="_self" class="nav__last-link">All Solutions</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Compliance &amp; Maintenance
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/services/compliance-and-maintenance" target="_self" class="nav__last-link">All about Compliance &amp; Maintenance</a>
</li>
<li>
  <a href="/services/compliance-and-maintenance/canopy-inspections-and-extractor-cleaning" target="_self" class="nav__last-link">Canopy Inspection and Extractor Cleaning</a>
</li>
<li>
  <a href="/services/compliance-and-maintenance/dryer-duct-cleaning" target="_self" class="nav__last-link">Dryer Duct Cleaning</a>
</li>
<li>
  <a href="/services/compliance-and-maintenance/gas-safety-checks" target="_self" class="nav__last-link">Gas Safety Checks</a>
</li>
<li>
  <a href="/services/compliance-and-maintenance/planned-preventative-maintenance" target="_self" class="nav__last-link">Planned Preventative Maintenance</a>
</li>
      </ul>
  </li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          More
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Medical
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/medical-equipment" target="_self" class="nav__last-link">All Medical Equipment</a>
</li>
<li>
  <a href="/medical/sanitisers" target="_self" class="nav__last-link">Sanitisers</a>
</li>
<li>
  <a href="/medical/macerators" target="_self" class="nav__last-link">Macerators</a>
</li>
<li>
  <a href="/medical/bedpan-washers" target="_self" class="nav__last-link">Bedpan Washers</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Detergents
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/commercial-detergents" target="_self" class="nav__last-link">All Detergents</a>
</li>
<li>
  <a href="/commercial-detergents/laundry-detergents" target="_self" class="nav__last-link">Laundry Detergents</a>
</li>
<li>
  <a href="/commercial-detergents/catering-detergents" target="_self" class="nav__last-link">Catering Detergents</a>
</li>
<li>
  <a href="/commercial-detergents/otex-detergents" target="_self" class="nav__last-link">OTEX Detergents</a>
</li>
<li>
  <a href="/commercial-detergents/safety-data-sheets" target="_self" class="nav__last-link">Safety Data Sheets</a>
</li>
      </ul>
  </li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__parent-btn js-nav-parent-btn">
          About
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>
      <ul class="nav__listing-child js-nav-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          About JLA
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/about-jla" target="_self" class="nav__last-link">About JLA</a>
</li>
<li>
  <a href="/about-jla/why-choose-jla" target="_self" class="nav__last-link">Why Choose JLA?</a>
</li>
<li>
  <a href="/about-jla/accreditations" target="_self" class="nav__last-link">Accreditations</a>
</li>
<li>
  <a href="/knowledge/regulations-and-safety" target="_self" class="nav__last-link">Regulations and Safety</a>
</li>
<li>
  <a href="/trustpilot" target="_self" class="nav__last-link">Reviews</a>
</li>
<li>
  <a href="/about-jla/testimonials" target="_self" class="nav__last-link">Testimonials</a>
</li>
<li>
  <a href="/about-jla/videos" target="_self" class="nav__last-link">Videos</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          News &amp; Events
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/blog" target="_self" class="nav__last-link">News</a>
</li>
<li>
  <a href="/blog" target="_self" class="nav__last-link">Blog</a>
</li>
<li>
  <a href="/coronavirus" target="_self" class="nav__last-link">CoronaVirus Statement</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Sectors
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="/sectors/care-homes" target="_self" class="nav__last-link">Care Homes</a>
</li>
<li>
  <a href="/sectors/healthcare" target="_self" class="nav__last-link">Healthcare</a>
</li>
<li>
  <a href="/sectors/housing" target="_self" class="nav__last-link">Housing</a>
</li>
<li>
  <a href="/sectors/facilities-management" target="_self" class="nav__last-link">Facilities Management</a>
</li>
<li>
  <a href="/sectors/commercial-laundry" target="_self" class="nav__last-link">Commercial Laundry</a>
</li>
<li>
  <a href="/sectors/restaurants" target="_self" class="nav__last-link">Restaurants</a>
</li>
<li>
  <a href="/sectors/hotels" target="_self" class="nav__last-link">Hotels</a>
</li>
<li>
  <a href="/sectors/pubs" target="_self" class="nav__last-link">Pubs</a>
</li>
<li>
  <a href="/sectors/holiday-parks" target="_self" class="nav__last-link">Holiday Parks</a>
</li>
<li>
  <a href="/sectors/health-clubs-spas" target="_self" class="nav__last-link">Health Clubs and Spas</a>
</li>
<li>
  <a href="/sectors/sport" target="_self" class="nav__last-link">Sport</a>
</li>
<li>
  <a href="/sectors/hairdressers-salons" target="_self" class="nav__last-link">Hairdressers and Salons</a>
</li>
<li>
  <a href="/sectors/vets" target="_self" class="nav__last-link">Vets</a>
</li>
<li>
  <a href="/sectors/stables" target="_self" class="nav__last-link">Stables</a>
</li>
<li>
  <a href="/sectors/launderettes-dry-cleaners" target="_self" class="nav__last-link">Launderettes and Dry Cleaners</a>
</li>
<li>
  <a href="/sectors/education" target="_self" class="nav__last-link">Education</a>
</li>
<li>
  <a href="/sectors/university-accommodation" target="_self" class="nav__last-link">University Accommodation</a>
</li>
<li>
  <a href="/sectors/public-sector" target="_self" class="nav__last-link">Public Sector</a>
</li>
      </ul>
  </li>
  <li>
      <button type="button" class="nav__child-btn js-nav-child-btn">
          Careers
          <span>
              <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
              </svg>
          </span>
      </button>

      <ul class="nav__listing-grand-child js-nav-grand-child js-sub">
          <li class="nav__listing-back">
              <button type="button" class="nav__listing-back-btn js-nav-back">
                  <span>
                      <svg class="icon-svg icon-chevron" viewBox="0 0 19.39 36.247">
                          <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#chevron"></use>
                      </svg>

                  </span>
              </button>
              <a href="#" class="js-nav-back">Back</a>
          </li>
<li>
  <a href="https://group.jla.com/careers" target="_self" class="nav__last-link">Careers at JLA</a>
</li>
<li>
  <a href="https://group.jla.com/careers/a-great-place-to-work" target="_self" class="nav__last-link">A Great Place to Work</a>
</li>
<li>
  <a href="https://group.jla.com/careers/opportunities" target="_self" class="nav__last-link">Opportunities</a>
</li>
<li>
  <a href="https://group.jla.com" target="_self" class="nav__last-link">JLA Group</a>
</li>
      </ul>
  </li>
<li>
  <a href="/blog" target="_self" class="nav__last-link">Blog</a>
</li>
      </ul>
  </li>
<li>
  <a href="/contact" target="_self" class="nav__last-link">Contact</a>
</li>
              </ul>
          </div>

      <form action="/search/menuformsubmit" method="post" can_known="1">    <div class="nav__sub-area">


          <button class="btn btn--reset btn--primary btn--full-width js-modal header__consult-btn" type="button" name="button" data-modal="754dfeb7-6128-499a-99a8-57b8ef89d70f"><span class="btn__text">Send an enquiry</span></button>
      <div class="search">
          <span class="field-validation-valid" data-valmsg-for="SearchTerm" data-valmsg-replace="true"></span>
          <input class="search__input" data-val="true" data-val-required="The SearchTerm field is required." id="SearchTerm" name="SearchTerm" placeholder="search" type="search" value="" />
          <label class="search__btn-holder">
              <input type="submit" class="search__submit-btn">
              <i class="icon-svg fas fa-search icon-search"></i>
          </label>
      </div>
  </div>
</form>
  </div>
</nav>

</header> -->



<!-- <header class="header has-metric">
  <div class="header__holder js-header-block">
    <div class="header__body">
      <div class="header__container">
        <div class="header__inner">
          <div class="header__left">
            <div class="header__logo-holder">
              <a href="/">
                <svg class="icon-svg icon-logo" viewBox="0 0 287.8 112.3">
                  <use xlink:href="/sitefiles/src/img/icons/symbol/svg/sprite.symbol.svg#icon-logo">
                  </use>
                </svg>
              </a>
            </div>

            <div class="header__desktop-nav">
              <a href="/contact" target="_self">Laundry</a>
              <a href="/contact" target="_self">Catering</a>
              <a href="/contact" target="_self">OTEX</a>
              <a href="/contact" target="_self">HVAC</a>
              <a href="/contact" target="_self">Fire Safety</a>
              <a href="/contact" target="_self">Infection Control</a>
              <a href="/contact" target="_self">Contact</a>
            </div>

          </div>

          <div class="header__content-holder">
            <div class="header__contact">
              <a class="InfinityNumber" data-ict-discovery-number="01422822282" data-ict-silent-replacements="true"></a>
              <p class="header__contact-inner">
                Call Free:
              <span id class="header-call-value IfinityNumber clickable contactNo" style="visibility: visible;">
                <a href="tel:08082397813">0808 239 7813</a>
              </span>
              </p>
            </div>
            <button type="button" class="nav-btn nav-btn--icon js-nav-search-btn">
              <svg class="svg-inline--fa fa-search fa-w-16 icon-svg icon-search" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg>
              </svg>
            </button>
            <button type="button" class="nav-btn js-nav-btn">
              <div class="nav-btn__inner">
                ::before
                ::after
              </div>
            </button>
          </div>
        </div>

        <div class="searchbox js-searchbox">
          <form action="/search/menuformsubmit" method="post" can_known="0">
            <div class="searchbox__container">
              <input class="search__input" data-val="true" data-val-required="The SearchTerm field is required." id="SearchTerm" name="SearchTerm" placeholder="I am looking for..." type="search" value>
              <label class="searchbox__btn-holder">
                <input type="submit" class="search__submit-btn">
                <svg class="svg-inline--fa fa-search fa-w-16 icon-svg icon-search" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
            </label>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>

</header>
  -->


<router-outlet></router-outlet>